# Workflow for scanning GitHub workflows with actionlint
name: Actionlint

on:
  # Runs on pull requests
  pull_request:
  push:
    branches: [main]

jobs:
  actionlint:
    name: Run actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: it-at-m/lhm_actions/action-templates/actions/action-actionlint@main
