name: build all

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin # timezone
    strategy:
      matrix:
        include:
          - app-path: sps-backend
          - app-path: sps-frontend
    steps:
      - uses: actions/checkout@v4
      - if:  ${{hashFiles(format('./{0}/package.json', matrix.app-path))!=null}} 
        id: node
        uses: it-at-m/.github/.github/actions/action-npm-build@pipeline-feedback
        with:
          app-path:  "${{ matrix.app-path }}"
      - if:  ${{hashFiles(format('./{0}/pom.xml', matrix.app-path))!=null}} 
        id: maven
        uses: it-at-m/.github/.github/actions/action-maven-build@pipeline-feedback
        with:
          app-path: "${{ matrix.app-path }}"
      - if: github.ref == 'refs/heads/test-pip'
        uses: it-at-m/.github/.github/actions/action-build-image@pipeline-feedback
        with:
          path: "${{  matrix.app-path }}"
          image-name: "${{  matrix.app-path }}"
          artifact-name: ${{join(steps.*.outputs.artifact-name)}}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          registry-username: ${{ github.actor }}
