name: build and test

on: [push]

jobs:
  compliance:
    runs-on: ubuntu-latest

    steps:


      - name: Advance Security Policy as Code
        uses: it-at-m/lhm_actions/action-templates/actions/action-trivy@add-trivy-action
